.xyz{
   border: var(--border);
   padding: var(--padding);
   margin: var(--margin);
     color: rgb(16, 39, 255);
     background-image: url("https://w0.peakpx.com/wallpaper/396/17/HD-wallpaper-groot-guardians-of-the-galaxy-train-tracks.jpg")  ;
}
